<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^\.env - [F,L]
  RewriteRule ^(app|config|database|storage)(/|$) - [F,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
